CONFIG_64BIT=y
CONFIG_BLK_DEV=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_EFI_PARTITION=y

CONFIG_EXT4_FS=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y

CONFIG_SATA_AHCI=y


CONFIG_BLK_DEV_NVME=y

CONFIG_FB=y
CONFIG_FB_EFI=y

CONFIG_CMDLINE="root=/dev/sda2 rw init=/os/init console=tty1,115200"
CONFIG_CMDLINE_BOOL=y

# CRITICAL PARENT OPTIONS YOU NEED TO ADD
CONFIG_DRM=y               # Direct Rendering Manager (Graphics Core)
CONFIG_AGP=y               # Advanced Graphics Port support (Common Dependency)
CONFIG_VGA_ARB=y           # VGA Arbiter (manages access to the graphics card)
CONFIG_EFI=y               # EFI runtime service support
CONFIG_EFI_STUB=y          # EFI stub support (used for your BOOTX64.EFI)
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_DUMMY_CONSOLE=no