CONFIG_FB=y
CONFIG_FB_DEVICE=y
CONFIG_FB_EFI=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_DUMMY_CONSOLE=n

CONFIG_CMDLINE="root=/dev/vda2 rw init=/os/init video=2560x1440"
CONFIG_CMDLINE_BOOL=y

CONFIG_DEBUG_STACK_USAGE=n

CONFIG_DRM_VIRTIO_GPU=y
CONFIG_DRM_VIRTIO_GPU_KMS=y
CONFIG_DRM_QXL=y
CONFIG_DRM_BOCHS=y
CONFIG_DRM_CIRRUS_QEMU=y

